/* General Styles */
body {
    font-family: 'Poppins', "Harrington";
    margin: 0;
    padding: 0;
    background-color: #f2fffe;
    color: #333;
}

/* Header */
header {
    background-color: #060606;
    color: white;
    padding: 1rem 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

/* Main Content */
main {
    padding: 20px;
    text-align: center;
}

#gallery-list, #gallery-detail {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#images-container img {
    width: 100%;
    max-width: 400px;
    margin: 10px 0;
    border-radius: 5px;
}

.hidden {
    display: none;
}

/* Footer */
footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}
